<section class="p-4">
    <div class="container-fluid">
        <h1 class="text-center mb-3">Про розробника</h1>
        
        <div class="row">
            <div class="card p-0 m-auto" style="width: 30%;">
                <img src="/images/vladyslav-doroshenko.jpg" class="card-img-top" alt="Vladyslav Doroshenko">
                <div class="card-body">
                  <h5 class="card-title text-center">Дорошенко Владислав</h5>
                  <p class="card-text text-center">Цей блог був створений для демонстрації MVC-додатка.</p>
                  <a href="<%= githubLink %>" class="btn btn-secondary w-100" target="_blank">Go GitHub</a>
                </div>
              </div>
        </div>
    </div>
</section>
