<section class="p-4">
    <div class="container-fluid">
        <a class="btn btn-outline-secondary w-auto mb-3" href="/">Повернутися до списку</a>
        
        <div class="row">
            <h1 class="text-center"><%= tip.title %></h1>

            <p><%= tip.description %></p>
        </div>
    </div>
</section>
