<section class="p-4">
    <div class="container-fluid">
        <h1 class="text-center mb-3">Політика конфіденційності</h1>
        
        <div class="row">            
            <div class="alert alert-dark" role="alert">
                <p class="text-center m-0">Ця сторінка містить політику конфіденційності.</p>
            </div>
        </div>
</div>
</section>
